.Featured{
    margin-top: 200px;
    margin-bottom: 200px;
    /* border: #192C19; */
}


.featured {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
}

.bookcover {
    width: 300px;
    height: 400px;
    object-fit: contain;
    padding: 10px;
}

.card {
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: #192C19;
}
h5 {
   inline-size: 200px;
   overflow-wrap: break-word;
   height: 50px;
   margin: auto;
}
    