.Nav {
    display: flex;
    width: 80% vw;
    height: 10% vh;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

ul {
    list-style: none;
}