.Nav {
    display: flex;
    width: 80% vw;
    height: 10% vh;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 10px 30px 10px;
    color:#192C19;
}

.logo{
    width: 150px;
    height: auto;    
}
.links {
    color:#192C19;
}

a {
    text-decoration: none;
    color:#192C19;
    margin: 10px;
    font-size: 16px;
    font-weight: bolder;
}
