.Nav {
    display: flex;
    width: 80% vw;
    height: 10% vh;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 30px 10px;
    color:#192C19;
}

.Nav > h1 {
    width: 150px;
    font-weight: bold;
    text-align: left;
}

