.Search {
    width: 100%;
    height: 1000px;
    /* outline-offset: -100px solid black; */
    border-radius: 10px;
    /* background-image: url(https://images.unsplash.com/photo-1591951425328-48c1fe7179cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1535058314881-56b6eb96bd69?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80); */
   background-image: url(https://images.unsplash.com/photo-1598960087461-556c5a1f864a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);
    position: relative;
    object-fit: contain;
    background-position: center;
    margin-top: 100px;
    padding: 50px 0 50px 0 ;
    background-repeat: none;
    opacity: .85;
}
form {
    position: absolute;
    top: 50%;
    right: 20%;
    bottom:50%;
    width: 60%;
    height: 80px;
}
input {
    border-radius: 50px;
    font-size: 100px;
    border: 3px solid #192C19;
    opacity: 80%;
    width: 100%;
    height: 100%;
    padding: 10px 50px 10px 50px;
}
input[type="text"]
{
    font-size:24px;
}

input::placeholder {
    font-weight: bold;
    font-size: x-large;
    opacity: .9;
    /* color: solid black; */
}